*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Noah, Arial, sans-serif;
    color: #000;
}

.container{
    margin: 0 auto;
}

/*   ---   header navigation   ---   */

.header{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    gap: 2em;
}

.header img{
    height: 56px;
}

.container{
   width: 1190px; 
}

.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 18px;
    font-weight: 400;
    line-height: 105%;
    cursor: pointer;
    color: #111;
}

.nav a{
    text-decoration: none;
    color: #000;
}

.login{
    text-decoration: none;
    font-size: 18px;
    color: #111;
    line-height: 105%;
    cursor: pointer;
    font-weight: 700;
}

.btn{
    background-color:#FBD727;
    color: #111;
    line-height: 105%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    padding: 13px 39px;
    cursor: pointer;   
}

/*   ---   greetings   ---   */

.title{
    font-weight: 700;
    font-size: 42px;
    line-height: 105%; 
    margin-bottom: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.left{
    text-align: left;
    width: 365px;
}

.title_desc{
    font-weight: 400;
    font-size: 26px;
    line-height: 105%; 
    margin-bottom: 20px;
}

.try_btn{
    font-weight: 700;
    font-size: 20px;
    line-height: 105%;  
    text-decoration: none;
    background-color:#FBD727;
    color: #000;
    padding: 15px 45px;
    border-radius: 5px;
}

.greetings{
    margin: 70px 90px;
    display: flex;
    justify-content: space-between;
}

.try_btn_text{
    margin-top: 5px;
    font-size: 14px;
    line-height: 105%;
}

.try_btn_wrap{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

/*   ---   features   ---   */

.features{
    margin-top: 100px;
}

.features_item_title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 105%;
    max-width: 430px;
}

.features_item_desc{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px; 
    color: #232323;
    margin-top: 20px;
    max-width: 430px;
    display: inline-block;
}

.features_item_title{
    display: flex;
    gap: 1em;
    max-width: 500px;
}

.features_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.features_item > img{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 55%;
}



/*   ---   integrations   ---   */

.integrations_container{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.integrations_text{
    font-weight: 400;
    font-size: 26px;
    line-height: 105%; 
    width: 440px; 
    margin-bottom: 45px;
    margin-top: 30px;
}

.integrations_btn{
    text-decoration: none;
    background-color:#FBD727;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    line-height: 105%; 
    font-weight: 700;
    padding: 15px 50px;
}

/*   ---   tariffs   ---   */

.tariffs h2{
margin-top: 125px;
}

.tariffs_table{
    font-weight: 400;
    font-size: 22px;
    line-height: 105%; 
    text-align: center;
    border: none;
    border-collapse: collapse;
    margin-top: 70px;
    width: calc(100% - 100px);
    margin: 0 70px;
}

.tariffs_table th{
    font-weight: 700;
    border-bottom: 2px solid #20E2AC;
    height: 75px;
}

.tariffs_table td:first-child{
    font-weight: 700;
    text-align: left;
    padding-left: 30px;
}

.tariffs_table td{
    height: 75px;
    border-bottom: 2px solid #20E2AC;
}

caption{
    caption-side: bottom;
    margin-top: 30px;
    text-align: left;
    font-size: 24px;
    line-height: 150%; 
}

table img{
    height: 36px;
}

/*   ---   contacts   ---   */

.contacts{
    margin-top: 100px;
    margin-bottom: 140px;
}

.contacts p{
    font-weight: 700;
    font-size: 24px;
    line-height: 105%;
    margin-bottom: 10px;
}

.contacts_items{
    margin: 40px 200px;
    display: flex;
    justify-content: space-between;
}

.contacts_desc{
    display: flex;
    align-items: center;
    gap: 1em;
    color: #000;
}

.contacts_desc a{
    color: #000;
    font-weight: 400;
    font-size: 24px;
    line-height: 105%; 
}

/*   ---   final   ---   */

.final{
    margin: 0 100px;
}

.final .try_btn_wrap{
    display: flex;
    align-items: center;    
    gap: 0.5em;
    margin-bottom: 100px;
}

/*   ---   footer   ---   */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;
    border-top: 1px solid #3B3B3B;
}

.footer img{
    height: 56px;
}

.footer_nav a{
    font-weight: 400;
    font-size: 18px;
    line-height: 105%;
    text-align: right; 
    text-decoration: none;
    color: #000;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}