*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Noah, Arial, sans-serif;
    color: #000;
}

.container{
    margin: 0 auto;
}

/*   ---   header navigation   ---   */

.header{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.container{
   width: 1190px; 
}

.header_logo{
    margin-right: 67px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 34px;
    margin-right: 80px;
    font-size: 18px;
    font-weight: 500;
    line-height: 105%;
   
}

.btn{
    background-color:#FBD727;
    line-height: 105%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    padding: 13px 39px;
    
}

/*   ---   greetings   ---   */

.title{
    font-weight: 700;
    font-size: 48px;
    line-height: 105%; 
    margin-bottom: 18px;
}

.text26{
    font-weight: 400;
    font-size: 26px;
    line-height: 105%; 
    margin-bottom: 42px;
}

.try_btn{
    font-weight: 700;
    font-size: 26px;
    line-height: 105%;  
    text-decoration: none;
    background-color:#FBD727;
    padding: 15px 45px;
    border-radius: 5px;
}

.greetings{
    margin: 70px 90px;
    display: flex;
    justify-content: space-between;
}

.try_btn_text{
    margin-top: 5px;
    font-size: 14px;
    line-height: 105%;
}

.try_btn_wrap{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
}

/*   ---   features   ---   */

.features{
    margin-top: 130px;
}

.center{
    text-align: center;
    margin-bottom: 45px;
}

.features_item_title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 105%;
    max-width: 430px;
}

.features_item_desc{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px; 
    color: #232323;
    margin-top: 20px;
    max-width: 430px;
    display: inline-block;
}

.features_item_title{
    display: flex;
    gap: 1em;
    max-width: 500px;
}

.features_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}


